[submodule "lib/Adafruit_BME280_Library"]
	path = lib/Adafruit_BME280_Library
	url = https://github.com/adafruit/Adafruit_BME280_Library.git

[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git

[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git

[submodule "lib/i2cdetect"]
	path = lib/i2cdetect
	url = https://github.com/mcauser/i2cdetect.git

[submodule "lib/ClosedCube_OPT3001_Arduino"]
	path = lib/ClosedCube_OPT3001_Arduino
	url = https://github.com/miXXXa94/ClosedCube_OPT3001_Arduino.git
[submodule "lib/U8g2_Arduino"]
	path = lib/U8g2_Arduino
	url = https://github.com/olikraus/U8g2_Arduino.git
[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/jgromes/RadioLib.git
